@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
 
<div>
    <h1>ASP.NET in Azure!</h1>
    <p class="lead">Это пустая страничка для первой лабы по CI\CD.Теперь с бессмысленной с логикой v2</p>
</div>