@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>@Model.Message</h2>
<form method="post">
    <input type="number" name="number" />
    <input type="submit" value="Посчитать" />
</form>
<h3>@Model.Result</h3>